body {
  background-color: #000;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

ul {
  list-style-type: none;
}

div ul {
  display: flex;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  display: flex;
}
