@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;700&family=Poppins&family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  margin: 0 auto;
}

#start {
  background-color: #000;
  margin-bottom: 80px;
  display: flex;
  padding: 10px;
}

h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 32px;
  color: #fff5e1;
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

ul {
  list-style-type: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

div ul {
  display: flex;
}

header {
  background-color: #222;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#work {
  display: grid;
  grid-template: 1fr 15% 15% 15% 15% 15% /100%;
}

#recent_work {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 52px;
  color: #1c1a19;
  text-align: center;
}

#post-stories {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

#first-description {
  color: #091e42;
}

.card-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 10px;
}

.card-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 10px;
}

.first-button {
  color: #091e42;
  background: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin: 10px;
}

.read-button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
  margin: 10px;
}

.project-button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background: #ff6b00;
  width: 100%;
  height: 10%;
  padding: 3px;
}

.project-button:enabled {
  background: #f55800;
  color: #fff;
}

.project-button:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.project-button:active {
  background: #e05304;
  color: #f4f1f0;
}

.project-button:disabled {
  color: #5b5957;
  background: #f4f1f0;
}

#first-project-button {
  width: 35%;
}

.item {
  display: flex;
  border: 5px;
  flex-direction: column;
  margin: 10px;
  justify-content: flex-end;
}

#item2,
#item3,
#item4,
#item5,
#item6 {
  background-image: url("../images/card-Placeholder.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#about {
  background-color: #000;
  margin-top: 300px;
}

#about-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  text-align: center;
}

#about-description {
  color: #f4f5f7;
}

.about-title {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 20px 0;
  padding-left: 10px;
}

ul li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

#skills {
  display: flex;
  flex-direction: column;
  margin-top: 30%;
}

#skills ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-button {
  width: auto;
  height: auto;
  margin: 10px;
}

#illustration {
  float: right;
  padding-top: 0;
}

hr {
  width: 70%;
  margin: 0 15% 20px 15%;
}

#end {
  border: 1px solid black;
  width: 33.33%;
  height: 5px;
  margin: 0 33.33% 20px 33.33%;
  background-color: black;
  border-radius: 15%;
}

#language {
  list-style-image: url('../images/Rectangle01.png');
}

#framework {
  list-style-image: url('../images/Rectangle02.png');
}

#skill {
  list-style-image: url('../images/Rectangle03.png');
}

.skills {
  display: flex;
}

.contact {
   text-align: center;
  margin-top: 5em;
}

.contact p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding: 0.5em;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 2em;
}

input {
  margin: 1rem 0;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 1rem;
}

textarea {
  width: 100%;
  background: #fbf8f7;
  border: none;
  padding: 1rem;
  margin: 1rem 0;
}

.fab {
  color: #505f79;
}

#social-links {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#footer-hr {
  width: 100%;
  margin: 7rem 0 0 0;
  border: 1px solid #eee;
  background-color: #eee;
}

#contact-button {
  padding: 1rem;
  border: none;
}
#d-illustration {
  display: none;
}

.desktop-menu{
  display: none;
}
